@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/form";

body {
  padding-top: 70px;
}

img {
  max-width: 100%;
}

.thumbnail {
  display: inline-block;
}

.gallery_image {
  margin: 1em;
}
